footer{
    display:grid;
    padding: 2rem;
    grid-template-areas: 
    "productos  info "
    "productos  redes";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

    .productos{
        grid-area: productos;
        margin-top: 0.5rem;

        nav{
            padding: 1rem;
            margin-left: 5rem;

            li{
                padding: 0.2rem;
            }
        }
        
    }
    .info{
        grid-area: info;
        padding: 1rem;
        text-align: center;
    }
    .redes{
        grid-area: redes;
        text-align: center;

        .iconoRedes{
            width: 3rem;    
        }
    }
}

