
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo {
        width: 10rem;
    }

    .nav{
        display: flex;
        transition: 0.2s;
        
            li {
                background-color: #efe2cb;
                padding: 1rem 4rem;

                &:hover{
                    background-color: #efd8af;
                    transition: 0.2s;
                }
            }
        
        }
}
