* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  width: 10rem;
}
header .nav {
  display: flex;
  transition: 0.2s;
}
header .nav li {
  background-color: #efe2cb;
  padding: 1rem 4rem;
}
header .nav li:hover {
  background-color: #efd8af;
  transition: 0.2s;
}

.titulo {
  font-family: "Nunito Sans", sans-serif;
  background-color: #efe2cb;
  color: #fdf9f4;
  font-size: 2.7rem;
  transition: 0.3s;
}
.titulo:hover {
  background-color: #efd8af;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "imgLampara parrafo  imgPerchero" "imgLampara imgTabla  imgPerchero ";
}

.parrafo {
  grid-area: parrafo;
  background-color: #d4d4c8;
  color: rgb(71, 27, 27);
  padding: 2rem;
  transition: 0.8s;
}

.parrafo:hover {
  background-color: #efe2cb;
  margin-top: -5rem;
}

.imgLampara {
  grid-area: imgLampara;
}

.imgTabla {
  grid-area: imgTabla;
}

.imgPerchero {
  grid-area: imgPerchero;
}

.productosIluminacion {
  display: flex;
  flex-direction: column;
}

.lamparas {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas: "titulo cromo estante" ".      tripode tripode";
}

.tituloLamparaDePie {
  grid-area: titulo;
}

.cromo {
  grid-area: cromo;
}

.estante {
  grid-area: estante;
}

.tripode {
  grid-area: tripode;
}

.grillaIluminacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.botonEnviar {
  background-color: #d4d4c8;
  border: #efe2cb;
}

.botonEnviar:hover {
  background-color: #efd8af;
}

.contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form {
  padding: 1rem;
}

.contactoRedes {
  display: flex;
}

.contactoRedes a {
  margin-top: 3rem;
  margin-left: 3rem;
}

.contactoUbicacion {
  padding: 1rem;
}

article {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: #f3f1ed;
}
article .formasDePago {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
article .efectivo {
  margin-left: -6rem;
  padding: 0.5rem;
}
article .tarjeta {
  margin-left: 5rem;
  padding: 0.5rem;
}

footer {
  display: grid;
  padding: 2rem;
  grid-template-areas: "productos  info " "productos  redes";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}
footer .productos {
  grid-area: productos;
  margin-top: 0.5rem;
  background-color: red;
}
footer .productos nav {
  padding: 1rem;
  margin-left: 5rem;
}
footer .productos nav li {
  padding: 0.2rem;
}
footer .info {
  grid-area: info;
  padding: 1rem;
  text-align: center;
}
footer .redes {
  grid-area: redes;
  text-align: center;
}
footer .redes .iconoRedes {
  width: 3rem;
}/*# sourceMappingURL=styles.css.map */