article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #d4d4c8;

    div{
        padding: 1rem;
        margin-top: 1rem;

        a :hover{
            font-size: 1.2rem;
            transition: 0.4s;
        }
    }
}
@media screen and (max-width: 700px) {
    article {
        display: flex;
        flex-direction: column;

        div{
            padding: 0;
        }
        
    }
}
