.contacto {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;

    .contactoInformacion{
        display: flex;
        flex-direction: column;

        p{
            padding: 0.8rem;
        }

        .contactoRedes{
            display: flex;
            justify-content: space-evenly;

            &-img{
                width: 3.5rem; 
                margin-top: 1rem;
            }
            .wspContacto{
                margin-top: 1rem;
            }


        }
    }
}
.imgContacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}






