main{
    .contacto{
        display: flex;
        margin: 1rem;
        gap: 1rem;

        .contactoInformacion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 2rem ;

            .contactoRedes-img{
                display: flex;
                gap: 1rem;
                width: 90px;
                margin-left: 15rem;
            }
        }
        form{
            margin-left: 10rem;
        }
    }
}

@media screen and (max-width: 768px){
    main{
        margin: 1rem;
        .contacto{
            flex-direction: column;
            
            form{
                margin-left: 0;
            }
        }
    }
}

footer{

    .imgContacto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        display: flex;
        align-items: center;
        margin: 1rem;
        
        
    }
}





