.contacto {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    justify-content: space-evenly;

    .contactoInformacion{
            padding: 1rem;
    }
}
.imgContacto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    img{
        width: 12rem;
        height: 12rem;
        padding: 0;
    }
        
}






