.decoracion{
    padding: 1rem;
    margin: 1rem;

    .perchero{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        "percheroInfo percheroImg";


        .percheroInfo{
            grid-area: percheroInfo;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: space-around;

            .percheroTitulo{
                margin-left: 8rem;
            }
            .percheroPrecio{
                display: flex;
                margin-top: -10rem;
                margin-left: 2rem;

                p{
                    margin-top: 1rem;
                    margin-left: 2rem;
                }
            }
        }
        .percheroImg{
            grid-area: percheroImg;
            display: flex;
            gap: 3rem;
            width: 25rem;
            margin-left: 5rem;
        }
    }

    .portaMacetas{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        "macetasInfo macetasImg";

        .macetasInfo{
            grid-area: macetasInfo;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &-titulo{
                margin-top: 10rem;
                margin-left: 5rem;
            }
        }
        .macetasImg{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 2rem;
            gap: 2rem;
            width: 50rem;
        }
    }
}