footer{
    display: grid;
    grid-template-areas:
    "productos info"
    "productos redes";
    grid-template-columns: 30% 70%;
    padding: 1rem;
    gap: 1rem;

    .productos{
        grid-area: productos;
        display: flex;
        justify-content: center;

        nav{
            margin-top: 2rem;
                li:hover{
                    font-size: 1.3rem;
                    transition: 0.5s;
                }
            }
    }
    .info{
        grid-area: info;
        font-size: medium;
        margin-top: 1rem;
        margin-left: 1rem;
        
    }
    .redes{
        grid-area: redes;
        display: flex;
        justify-content: space-evenly;

        -webkit-animation: redes 0.8s infinite ;
	    animation: redes 0.8s infinite ;

        @-webkit-keyframes redes {
            0% {
                -webkit-transform: translate(0);
                transform: translate(0);
            }
            20% {
                -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
            }
            40% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
            }
            60% {
                -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
            }
            80% {
                -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
            }
            100% {
                -webkit-transform: translate(0);
                transform: translate(0);
            }
        }
        @keyframes redes {
            0% {
                -webkit-transform: translate(0);
                transform: translate(0);
            }
            20% {
                -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
            }
            40% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
            }
            60% {
                -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
            }
            80% {
                -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
            }
            100% {
                -webkit-transform: translate(0);
                transform: translate(0);
            }
        }

        .img-redes{
            width: 2.5rem;
        }
    }
}


@media screen and (max-width: 768px) {
    footer{
        grid-template-columns: 40% 60% ;
    }
}

@media screen and (max-width: 480px){
    footer{
        display: flex;
        flex-direction: column;
    }
}


