/* iluminacion */

.iluminacion{
    padding: 1rem;

    .lamparas{
        display: flex;
        gap: 5rem;

        .lamparasInfo{
            padding: 1rem;
    
        }
        .lamparaImg{
        }
    }
}