.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "imgLampara parrafo  imgPerchero"
    "imgLampara imgTabla  imgPerchero ";
    gap: 0.7rem;
    margin: 1rem;

    
    .parrafo{
    grid-area: parrafo;
    background-color:  #d4d4c8;
    color: rgb(71, 27, 27);
    padding: 2rem;
    transition: 0.8s;

        &:hover {
            background-color: #efe2cb;
            transform: scale(1.1);
        }  
    } 
    .imgLampara{
        grid-area: imgLampara;
    }
    .imgTabla{
        grid-area: imgTabla;
    }
    .imgPerchero{
        grid-area: imgPerchero;
    }  
    
}


@media screen and (max-width: 750px) {
    .grilla{
        display: grid;
        grid-template-areas: 
        "parrafo imgTabla"
        "imgPerchero imgLampara";
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .parrafo{
            padding: 2rem;
            grid-area: parrafo;
        }
        .imgLampara{
            grid-area: imgLampara;
        }
        .imgTabla{
            grid-area: imgTabla;
            margin-top: 2rem;
        }
        .imgPerchero{
            grid-area: imgPerchero;
        }
    }
}
@media screen and (max-width: 490px) {
    .grilla{
        display: flex;
        flex-direction: column;
    }
    
}

