*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #5b4215;


}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:#5b4215;
}
img{
    width: 100%;
}
li {
    list-style-type: none;
}
.titulo{
    font-family: 'Nunito Sans', sans-serif;
    background-color:  #efe2cb;
    color: #fdf9f4;
    font-size: 2.8rem;
    transition: 0.6s;

    &:hover {
        background-color: #efd8af;
        font-size: 2rem;
    }   
}

