//tipografias
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+Cypro+Minoan&family=Nunito+Sans:wght@200&display=swap');

@import "./reset";
@import "./header";

//pages
@import "./nosotros";
@import "./cocina";
@import "./contacto";
@import "./decoracion";


@import "./article";
@import "./footer";

/* iluminacion */

.productosIluminacion{
    display: flex;
    flex-direction: column;
}

.lamparas{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    "titulo cromo estante"
    ".      tripode tripode";
    
}
.tituloLamparaDePie{
    grid-area: titulo;
}
.cromo{
    grid-area: cromo;
}
.estante{
    grid-area: estante;
}
.tripode{
    grid-area: tripode;
}
.grillaIluminacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
}