@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+Cypro+Minoan&family=Nunito+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #5b4215;
  outline: 2px solid red;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #5b4215;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.titulo {
  font-family: "Nunito Sans", sans-serif;
  background-color: #efe2cb;
  color: #fdf9f4;
  font-size: 2.8rem;
  transition: 0.6s;
}
.titulo:hover {
  background-color: #efd8af;
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .logo {
  width: 10rem;
  animation: rotate-diagonal-1 0.8s linear reverse both;
}
@keyframes rotate-diagonal-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
header .nav {
  flex-direction: row;
  gap: 1rem;
}
header .nav li {
  background-color: #efe2cb;
  transition: 0.4s;
  padding: 0.4rem 3rem;
}
header .nav li:hover {
  font-size: 1.2rem;
  background-color: #C8B692;
}
header .nav li:hover a {
  color: #ac8439;
}

@media screen and (max-width: 768px) {
  header {
    padding: 1rem;
  }
  header .nav li {
    padding: 0.4rem 1rem;
  }
}
@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header nav {
    width: 100%;
  }
  header .nav {
    flex-direction: column;
    text-align: center;
  }
}
.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "imgLampara parrafo  imgPerchero" "imgLampara imgTabla  imgPerchero ";
  gap: 0.7rem;
  margin: 1rem;
}
.grilla .parrafo {
  grid-area: parrafo;
  background-color: #d4d4c8;
  color: rgb(71, 27, 27);
  padding: 2rem;
  transition: 0.8s;
}
.grilla .parrafo:hover {
  background-color: #efe2cb;
  transform: scale(1.1);
}
.grilla .imgLampara {
  grid-area: imgLampara;
}
.grilla .imgTabla {
  grid-area: imgTabla;
}
.grilla .imgPerchero {
  grid-area: imgPerchero;
}

@media screen and (max-width: 750px) {
  .grilla {
    display: grid;
    grid-template-areas: "parrafo imgTabla" "imgPerchero imgLampara";
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .grilla .parrafo {
    padding: 2rem;
    grid-area: parrafo;
  }
  .grilla .imgLampara {
    grid-area: imgLampara;
  }
  .grilla .imgTabla {
    grid-area: imgTabla;
    margin-top: 2rem;
  }
  .grilla .imgPerchero {
    grid-area: imgPerchero;
  }
}
@media screen and (max-width: 490px) {
  .grilla {
    display: flex;
    flex-direction: column;
  }
}
.cocina {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-template-areas: "cocinaInfo cocinaImg";
  padding: 1rem;
  gap: 1rem;
}
.cocina .cocinaInfo {
  grid-area: cocinaInfo;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cocina .cocinaInfo h2 {
  margin-right: 12rem;
}
.cocina .cocinaInfo .cocina--titulo {
  margin-right: 19rem;
}
.cocina .cocinaInfo .cocinaPrecio {
  display: flex;
  justify-content: space-evenly;
}
.cocina .cocinaInfo .cocinaPrecio p {
  margin-top: 1rem;
  margin-right: 5rem;
  transition: 0.5s;
}
.cocina .cocinaInfo .cocinaPrecio p:hover {
  font-size: 2rem;
}
.cocina .cocinaImg {
  grid-area: cocinaImg;
  display: flex;
  gap: 1rem;
  width: 20rem;
}

.contacto {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  justify-content: space-evenly;
}
.contacto .contactoInformacion {
  display: flex;
  flex-direction: column;
}
.contacto .contactoInformacion p {
  padding: 0.8rem;
}
.contacto .contactoInformacion .contactoRedes {
  display: flex;
  justify-content: space-evenly;
}
.contacto .contactoInformacion .contactoRedes-img {
  width: 3.5rem;
  margin-top: 1rem;
}
.contacto .contactoInformacion .contactoRedes .wspContacto {
  margin-top: 1rem;
}

.imgContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.decoracion {
  padding: 1rem;
  margin: 1rem;
}
.decoracion .perchero {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "percheroInfo percheroImg";
}
.decoracion .perchero .percheroInfo {
  grid-area: percheroInfo;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
}
.decoracion .perchero .percheroInfo .percheroTitulo {
  margin-left: 8rem;
}
.decoracion .perchero .percheroInfo .percheroPrecio {
  display: flex;
  margin-top: -10rem;
  margin-left: 2rem;
}
.decoracion .perchero .percheroInfo .percheroPrecio p {
  margin-top: 1rem;
  margin-left: 2rem;
}
.decoracion .perchero .percheroImg {
  grid-area: percheroImg;
  display: flex;
  gap: 3rem;
  width: 25rem;
  margin-left: 5rem;
}
.decoracion .portaMacetas {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "macetasInfo macetasImg";
}
.decoracion .portaMacetas .macetasInfo {
  grid-area: macetasInfo;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.decoracion .portaMacetas .macetasInfo-titulo {
  margin-top: 10rem;
  margin-left: 5rem;
}
.decoracion .portaMacetas .macetasImg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
  gap: 2rem;
  width: 50rem;
}

.iluminacion {
  padding: 1rem;
}
.iluminacion .lamparas {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "precio  cromo" "precio  estante" "tripode tripode";
  gap: 1rem;
  margin: 1rem;
}
.iluminacion .lamparas h3 {
  margin-bottom: 1rem;
}
.iluminacion .lamparas .lamparasPrecio {
  grid-area: precio;
  margin-left: 1rem;
  margin-top: 2rem;
}
.iluminacion .lamparas .lamparasPrecio p {
  margin-top: 6rem;
}
.iluminacion .lamparas .cromo {
  grid-area: cromo;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.iluminacion .lamparas .cromo div {
  display: flex;
  gap: 3rem;
  width: 40%;
  margin-left: 3rem;
}
.iluminacion .lamparas .estante {
  grid-area: estante;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}
.iluminacion .lamparas .estante div {
  display: flex;
  gap: 3rem;
  width: 40%;
  margin-left: 3rem;
}
.iluminacion .lamparas .tripode {
  grid-area: tripode;
  display: flex;
  flex-direction: column;
}
.iluminacion .lamparas .tripode div {
  display: flex;
  gap: 3rem;
  width: 20%;
  margin-left: 4rem;
}
.iluminacion .veladores {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tituloVeladores imgVeladores";
  padding: 1rem;
}
.iluminacion .veladores .tituloVeladores {
  grid-area: tituloVeladores;
}
.iluminacion .veladores .tituloVeladores h2 {
  margin-top: 3rem;
  margin-left: 3rem;
}
.iluminacion .veladores .tituloVeladores p {
  margin-top: 13rem;
}
.iluminacion .veladores .imgVeladores {
  grid-area: imgVeladores;
  display: flex;
  width: 22%;
  gap: 3rem;
}

.linkContacto:hover {
  font-size: 1.5rem;
  color: rosybrown;
  transition: 0.5s;
}

article {
  display: flex;
  justify-content: space-evenly;
  background-color: #d4d4c8;
}
article div {
  padding-top: 1rem;
}
article div a :hover {
  font-size: 1.2rem;
  transition: 0.4s;
}

@media screen and (max-width: 480px) {
  article {
    flex-direction: column;
    align-items: center;
  }
}
footer {
  display: grid;
  grid-template-areas: "productos info" "productos redes";
  grid-template-columns: 30% 70%;
  padding: 1rem;
  gap: 1rem;
}
footer .productos {
  grid-area: productos;
  display: flex;
  justify-content: center;
}
footer .productos nav {
  margin-top: 2rem;
}
footer .productos nav li:hover {
  font-size: 1.3rem;
  transition: 0.5s;
}
footer .info {
  grid-area: info;
  font-size: medium;
  margin-top: 1rem;
  margin-left: 1rem;
}
footer .redes {
  grid-area: redes;
  display: flex;
  justify-content: space-evenly;
}
footer .redes .img-redes {
  width: 2.5rem;
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 40% 60%;
  }
}
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */