@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+Cypro+Minoan&family=Nunito+Sans:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #5b4215;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #5b4215;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

.titulo {
  font-family: "Nunito Sans", sans-serif;
  background-color: #efe2cb;
  color: #fdf9f4;
  font-size: 2.8rem;
  transition: 0.6s;
}
.titulo:hover {
  background-color: #fdf9f4;
  font-size: 3rem;
  color: #ac8439;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
}
header .logo {
  width: 10rem;
  animation: rotate-diagonal-1 0.8s linear reverse both;
}
@keyframes rotate-diagonal-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}
header nav {
  width: 100%;
}
header nav .nav {
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
}
header nav .nav li {
  background-color: #efe2cb;
  transition: 0.4s;
  padding: 0.7rem 2rem;
}
header nav .nav li:hover {
  font-size: 1.2rem;
  background-color: #fdf9f4;
}
header nav .nav li:hover a {
  color: #ac8439;
}

@media screen and (max-width: 768px) {
  header .nav {
    flex-direction: column;
    text-align: center;
  }
  header .nav li {
    margin: 0.1rem 3rem;
  }
}
@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header .nav li {
    padding: 0;
    margin: 0;
  }
  header .nav li a {
    width: 100%;
  }
}
.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "parrafo parrafo  imgPerchero" "imgLampara imgTabla  imgPerchero ";
  gap: 0.7rem;
  padding: 1rem;
}
.grilla .parrafo {
  grid-area: parrafo;
  background-color: #d4d4c8;
  color: rgb(71, 27, 27);
  padding: 2rem;
  transition: 0.4s;
}
.grilla .parrafo:hover {
  background-color: #efe2cb;
  font-size: 1.03rem;
}
.grilla .imgLampara {
  grid-area: imgLampara;
}
.grilla .imgTabla {
  grid-area: imgTabla;
}
.grilla .imgPerchero {
  grid-area: imgPerchero;
}
.grilla .bounce-in-top {
  animation: bounce-in-top 1.5s 1s;
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 768px) {
  .grilla {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
}
main .cocina {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "cocinaInfo cocinaImg";
  gap: 1rem;
  margin: 1rem;
}
main .cocina .cocinaImg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  main .cocina {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  main .cocina .cocinaImg {
    display: flex;
    flex-direction: column;
  }
}
main .contacto {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}
main .contacto .contactoInformacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}
main .contacto .contactoInformacion .contactoRedes-img {
  display: flex;
  gap: 1rem;
  width: 90px;
  margin-left: 15rem;
}
main .contacto form {
  margin-left: 10rem;
}

@media screen and (max-width: 768px) {
  main {
    margin: 1rem;
  }
  main .contacto {
    flex-direction: column;
  }
  main .contacto form {
    margin-left: 0;
  }
}
footer .imgContacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  display: flex;
  align-items: center;
  margin: 1rem;
}

main .decoracion {
  margin: 1rem;
}
main .decoracion .perchero {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "percheroInfo percheroImg";
  gap: 1rem;
}
main .decoracion .perchero .percheroInfo {
  grid-area: percheroInfo;
  margin-top: 4rem;
}
main .decoracion .perchero .percheroInfo div {
  margin: 2rem;
}
main .decoracion .perchero .percheroInfo .percheroTitulo {
  margin-left: 2rem;
}
main .decoracion .perchero .percheroImg {
  margin: 1rem;
  grid-area: percheroImg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
main .decoracion .portaMacetas {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "macetasInfo macetasImg";
  gap: 1rem;
}
main .decoracion .portaMacetas .macetasInfo {
  grid-area: macetasInfo;
}
main .decoracion .portaMacetas .macetasInfo div {
  margin: 2rem;
}
main .decoracion .portaMacetas .macetasImg {
  margin: 1rem;
  grid-area: macetasImg;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  main .decoracion .perchero .percheroImg {
    grid-template-columns: 1fr;
  }
  main .decoracion .portaMacetas .macetasImg {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  main .decoracion .perchero {
    display: flex;
    flex-direction: column;
  }
  main .decoracion .portaMacetas {
    display: flex;
    flex-direction: column;
  }
}
.linkContacto:hover {
  font-size: 1.5rem;
  color: rosybrown;
  transition: 0.5s;
}

article {
  display: flex;
  justify-content: space-evenly;
  background-color: #d4d4c8;
}
article div {
  padding-top: 1rem;
}
article div a :hover {
  font-size: 1.2rem;
  transition: 0.4s;
}

@media screen and (max-width: 480px) {
  article {
    flex-direction: column;
    align-items: center;
  }
}
footer {
  display: grid;
  grid-template-areas: "productos info" "productos redes";
  grid-template-columns: 30% 70%;
  padding: 1rem;
  gap: 1rem;
}
footer .productos {
  grid-area: productos;
  display: flex;
  justify-content: center;
}
footer .productos nav {
  margin-top: 2rem;
}
footer .productos nav li:hover {
  font-size: 1.3rem;
  transition: 0.5s;
}
footer .info {
  grid-area: info;
  font-size: medium;
  margin-top: 1rem;
  margin-left: 1rem;
}
footer .redes {
  grid-area: redes;
  display: flex;
  justify-content: space-evenly;
  animation: redes 0.8s infinite;
}
@keyframes redes {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
footer .redes .img-redes {
  width: 2.5rem;
}

@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 40% 60%;
  }
}
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */