main{
    .cocina{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
        "cocinaInfo cocinaImg";
        gap: 1rem;
        margin: 1.5rem  1.5rem 0 1.5rem;
        align-items: center;

        .cocinaImg{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
        }
    }

}

@media screen and (max-width: 768px){
    main{
        .cocina{
            @include flex-column;
            .cocinaImg{
                @include flex-column;

            }
        }
    }
}

@media screen and (max-width: 480px){
    main{
        .cocina{
            .cocinaImg{
                @include flex-column;
            }
        }
    }
}