main{
    .contacto{
        display: flex;
        margin: 1rem;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        .form-check-input:checked {
            background-color: $colorMarron;
            border-color: $colorVerde;
        }
        .btn-primary{
            background-color: $colorMarron;
            border-color: $colorMarron;

            -bs-btn-color: #fff;
    --bs-btn-bg:$colorMarron;
    --bs-btn-border-color:$colorMarron;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: $colorMarron5ed7;
    --bs-btn-hover-border-color: $colorMarron;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: $colorMarron;
    --bs-btn-active-border-color: $colorMarron;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: $colorMarron;
    --bs-btn-disabled-border-color: $colorMarron;
        }

        .contactoInformacion{
            .contactoRedes{
                display: flex;
                justify-content: space-between;

                .contactoRedes-img{
                    display: flex;
                    gap: 1rem;
                    margin-top: 2rem;

                    .img-redes{
                        width: 5rem;
            
                    }
                    .wsp{
                        width: 3rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:480px){
    main{
        .contacto{
            flex-direction: column;
            .contactoInformacion{
                margin: 1rem;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .imgContacto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        display: flex;
        align-items: center;
        margin: 1rem;
        
        
    }
}





