main{
    .contacto{
        display: flex;
        margin: 1rem;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;

        .contactoInformacion{
            .contactoRedes{
                display: flex;
                justify-content: space-between;

                .contactoRedes-img{
                    display: flex;
                    gap: 1rem;
                    width: 150px;
                }
            }
        }
    }
}
@media screen and (max-width:480px){
    main{
        .contacto{
            flex-direction: column;
            .contactoInformacion{
                margin: 1rem;
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .imgContacto{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        display: flex;
        align-items: center;
        margin: 1rem;
        
        
    }
}





