main{
    .decoracion{
        @include color-fondo;
        padding: 2rem;

        .perchero{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: 
            "percheroInfo percheroImg";
            gap: 1rem;

            .percheroInfo{
            grid-area: percheroInfo;
            @include txt-center;
            }
            .percheroImg{
                margin: 1rem;
                grid-area: percheroImg;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }
        }
        .portaMacetas{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: 
            "macetasInfo macetasImg";
            gap: 1rem;
            padding: 2rem;

            .macetasInfo{
                grid-area: macetasInfo;
                @include txt-center;


            }

            .macetasImg{
                margin: 1rem;
                grid-area: macetasImg;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 768px){
    main{
        .decoracion{

            .perchero{
                .percheroImg{
                    grid-template-columns: 1fr;
                }
            }

            .portaMacetas{
                .macetasImg{
                    grid-template-columns: 1fr ;
                }
            }
        }
    }
    
}

@media screen and (max-width: 480px){
    main{
        .decoracion{
            .perchero{
                @include flex-column;
            }
            .portaMacetas{
                @include flex-column;
            }
        }
    }
    
}