footer{
    display: grid;
    grid-template-areas:
    "productos info"
    "productos redes";
    grid-template-columns: 30% 70%;
    padding: 1rem;
    gap: 1rem;

    .productos{
        grid-area: productos;
        display: flex;
        justify-content: center;

        nav{
            margin-top: 2rem;
                li:hover{
                    font-size: 1.3rem;
                    transition: 0.5s;
                }
            }
    }
    .info{
        grid-area: info;
        font-size: medium;
        margin-top: 1rem;
        margin-left: 1rem;
        
    }
    .redes{
        grid-area: redes;
        display: flex;
        justify-content: space-evenly;

        .img-redes{
            width: 5rem;

        }
        .wsp{
            width: 3.3rem;
        }
    }
}


@media screen and (max-width: 768px) {
    footer{
        grid-template-columns: 40% 60% ;
    }
}

@media screen and (max-width: 480px){
    footer{
        @include flex-column;
    }
}


