header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo{
        width: 10rem;
        -webkit-animation: rotate-diagonal-1 0.8s linear reverse both;
	            animation: rotate-diagonal-1 0.8s linear reverse both;

        @-webkit-keyframes rotate-diagonal-1 {
            0% {
                -webkit-transform: rotate3d(1, 1, 0, 0deg);
                transform: rotate3d(1, 1, 0, 0deg);
            }
            50% {
                -webkit-transform: rotate3d(1, 1, 0, -180deg);
                transform: rotate3d(1, 1, 0, -180deg);
            }
            100% {
                -webkit-transform: rotate3d(1, 1, 0, -360deg);
                transform: rotate3d(1, 1, 0, -360deg);
            }
        }

        @keyframes rotate-diagonal-1 {
            0% {
                -webkit-transform: rotate3d(1, 1, 0, 0deg);
                transform: rotate3d(1, 1, 0, 0deg);
            }
            50% {
                -webkit-transform: rotate3d(1, 1, 0, -180deg);
                transform: rotate3d(1, 1, 0, -180deg);
            }
            100% {
                -webkit-transform: rotate3d(1, 1, 0, -360deg);
                transform: rotate3d(1, 1, 0, -360deg);
            }
        }          
    }
    nav{
        .nav{
            gap: 1rem;

            li{
                padding: 0.4rem 1.5rem;
                background-color: $colorBeige1;
                    
                    &:hover{
                        background-color: $colorTransparente;
                        font-size: 1.2rem;
                        transition: $transitionBoton;
                    }
            }
        }
    }
    .iconos{
        i{
            margin: 1rem;
        }
    }
}


@media screen and (max-width: 768px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "logo iconos"
        "menu menu";       
        
        .logo-grid{
            grid-area: logo;
        }
        .menu{
            grid-area: menu;
            @include flex-center;
            
        }
        .iconos{
            grid-area: iconos;
            @include flex-center;
            
        }
    }
}
@media screen and (max-width: 480px){
    header{
        .menu{
                .nav{
                @include flex-column;
                align-items: stretch;
                text-align: center;
                width: 100%;
                margin-bottom: 1rem;
                gap: 0.3rem;
            }
            
        }
    }
}