main{
    .iluminacion{
        margin: 3rem;
        .lamparas{
            display: grid;
            grid-template-columns: 1fr 2fr;

            .lamparasImg{
                @include flex-column;
                margin: 3rem;

                .cromoImg{
                    margin: 2rem;
                    gap: 1rem;
                    display: flex;
                    align-items: center;
                }
                .estanteImg{
                    margin: 2rem;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                }
                .tripodeImg{
                    margin: 2rem;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 1rem;
                    align-items: center;
                }
            }
            
        }

        .veladores{
            .imgVeladores{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 1rem;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main{
        .iluminacion{
            .lamparas{
                @include flex-column;

                .lamparasPrecio{
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr;
                    gap: 2rem;
                    align-items: center;

                    h2{
                        margin-bottom: 4rem;
                    }
                }
                .lamparasImg{

                    .cromoImg{
                        @include flex-column;
                    }
                    .estanteImg{
                        @include flex-column;
                    }
                    .tripodeImg{
                        @include flex-column;
                    }
                }
            }

            .veladores{
                .imgVeladores{
                    @include flex-column;
                }
            }
        }
    }
}
@media screen and (max-width: 480px){
    main{
        .iluminacion{
            .lamparas{
                .lamparasPrecio{
                    @include flex-column;
                }
            }
        }
    }
}