main{
    .iluminacion{
        margin: 3rem;
        .lamparas{
            display: grid;
            grid-template-columns: 1fr 2fr;

            .lamparasImg{
                display: flex;
                flex-direction: column;
                margin: 3rem;

                .cromoImg{
                        display: flex;
                        gap: 1rem;

                        img{
                            width: 50%;
                        }
                }
                .estanteImg{
                        display: flex;
                        gap: 1rem;

                        img{
                            width: 50%;
                        }
                }
                .tripodeImg{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 1rem;
                    align-items: center;
                }
            }
            
        }

        .veladores{
            .imgVeladores{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                align-items: stretch;
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main{
        .iluminacion{
            .lamparas{
                display: flex;
                flex-direction: column;
                .lamparasPrecio{
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr;
                    gap: 2rem;
                    align-items: center;

                    h2{
                        margin-bottom: 4rem;
                    }
                }
                .lamparasImg{
                    .cromoImg{
                        flex-direction: column;
                        align-items: center;

                        img{
                            width: 60%;
                        }
                    }
                    .estanteImg{
                        flex-direction: column;
                        align-items: center;

                        img{
                            width: 60%;
                        }
                    }
                }
            }

            .veladores{
                .imgVeladores{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    align-items: stretch;
                    gap: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 480px){
    main{
        .iluminacion{
            .lamparas{
                .lamparasPrecio{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}