.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "parrafo parrafo  imgPerchero"
    "imgLampara imgTabla  imgPerchero ";
    gap: 0.7rem;
    padding: 2rem;


    .parrafo{
    grid-area: parrafo;
    background-color:$colorVerde;
    color: rgb(71, 27, 27);
    padding: 2rem;
    transition: $transitionBoton;

        &:hover {
            background-color: $colorBeige1;
            font-size: 1.03rem;
        }
    } 
    .imgLampara{
        grid-area: imgLampara;
    }
    .imgTabla{
        grid-area: imgTabla;
        margin-top: 1.8rem;
    }
    .imgPerchero{
        grid-area: imgPerchero;
    }
    
}


@media screen and (max-width: 768px) {
    .grilla{
        @include flex-column;
        margin: 1rem;
    }
}

