
// variable de colores 
$colorMarron: #ac8439;
$colorBeige1: #efe2cb;
$colorTransparente:  #fdf9f4;
$colorVerde:  #d4d4c8;
$tipografiaColor:#5b4215;


//variables de transicion
$transitionBoton: 0.4s;
$transitionImg: 0.2s;


//mixin
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin color-fondo{
    color: rgb(74, 57, 3);
    background-color: $colorTransparente;
}

@mixin txt-center{
        @include flex-column;
        align-items: center;
        gap: 3rem;
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;    
}
