
// variable de colores 
$colorMarron: #ac8439;
$colorBeige1: #efe2cb;
$colorTransparente:  #fdf9f4;
$colorVerde:  #d4d4c8;
$tipografiaColor:#5b4215;


//variables de transicion
$transitionBoton: 0.4s;
$transitionImg: 0.2s;